body {
	background-image: url(../images/bodyBkgrnd.png);
}

html,
body {
	height: 100%;
}

hr {
	border-top: 1px solid #aaa8b1;
}

a.nav-link {
	color: #c3ad46 !important;
	font-size: 18px;
}

a.active {
	color: #214d77 !important;
}

.sidebar li {
	float: left;

  

	margin-right: 10px;
	margin-left: 10px;
}

.sidebar img {
	max-width: 100%;
}

.wrapper {
	height: auto !important;
	height: 100%;
	min-height: 100%;
	margin: 0 auto -105px;
}

.navbar {
	padding: 0px;
	border-bottom: 8px solid #214d77;
	margin-bottom: 20px;
}

.siteHeader {
	background-color: #214d77;
	padding: 10px 60px 10px 60px;
}

.bigYtext {
	color: #c3ad46;
}

.seperator {
	color: #c3ad46;
	margin-top: 7px;
}

.aboutContent {

	margin: 0 auto;
	clear: both;
}

.card-body {
	border: 1px solid #aaa8b1;
}

.card-img {
    height: 223px;
    width: 300px;
} 

.headerAbout {
	color: #998e7b;
	font-weight: bold;
}

.headerConnect {
	color: #998e7b;
	font-weight: bold;
}

 /*
.copyright {
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-size: 10px;
}
*/

.portfolioBar {
	background-color: #b3c8e7;
	text-align: center;
	color: #c3ad46;
	margin-top: 125px;
	line-height: 40px;
}

.portfolioContent {
	margin-top: 40px;
	margin-bottom: 40px;
}

.headerPortfolio {
	color: #998e7b;
	font-weight: bold;
}

.portolioCard {
	height: 225px;
	width: 300px;
}

.contactContent {
	margin-top: 40px;
}

.headerContact {
	color: #998e7b;
	font-weight: bold;
}

.btn-primary {
	background-color: #214d77;
	border-color: #214d77;
	color: #c3ad46;
}

.containFooter {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #aaa8b1;
  border-top: 8px solid #214d77;
}

footer,
.push {
  height: 100px;
}