body {
	background-image: url(../images/bodyBkgrnd.png);
}

hr {
	border-top: 1px solid #aaa8b1;
}

a.nav-link {
	color: #c3ad46 !important;
	font-size: 18px;
}

a.active {
	color: #214d77 !important;
}

img.connect {
	padding: 0px 10px 0px 10px;
}
.navbar {
	padding: 0px;
	border-bottom: 8px solid #214d77;
}

.siteHeader {
	background-color: #214d77;
	padding: 10px 60px 10px 60px;
}

.bigYtext {
	color: #c3ad46;
}

.seperator {
	color: #c3ad46;
	margin-top: 7px;
}

.aboutContent {
	margin-top: 20px;
}

.card-body {
	border: 1px solid #aaa8b1;
}

.headerAbout {
	color: #998e7b;
	font-weight: bold;
}

.headerConnect {
	color: #998e7b;
	font-weight: bold;
}

 /*
.copyright {
	text-align: center;
	padding: 10px 0px 0px 0px;
	font-size: 10px;
}
*/

.portfolioBar {
	background-color: #b3c8e7;
	text-align: center;
	color: #c3ad46; 
	margin-top: 125px;
	line-height: 40px;
}

.portfolioContent {
	margin-top: 40px;
}

.headerPortfolio {
	color: #998e7b;
	font-weight: bold;
}

.contactContent {
	margin-top: 40px;
}

.headerContact {
	color: #998e7b;
	font-weight: bold;
}

.btn-primary {
	background-color: #214d77;
	border-color: #214d77;
	color: #c3ad46;
}

.containFooter {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}

footer {
  padding: 30px 0;
  margin-top: 20px;
  clear: both;
  font-size: 12px;
  color: #fff;
  color: #ccc;
  text-align: center;
  background: #aaa8b1;
  border-top: 8px solid #214d77;
}

footer,
.push {
  height: 105px;
}